body {
	padding: 0px;
}
.grupo:after {
	content:"";
	display:table;
	clear:both;
}
/*columnas*/
.columna {
	margin: 0 0 10px 2%;				
	float: left;				
	border: black 1px solid;
	box-sizing: border-box;
}
.columna:first-child {
	margin-left: 0;
}
/*divs*/
.head {
	width: 100%;
	text-align: center;
}
.text {
	width: 49%;
	text-align: center;
}
.list {
	width: 23.5%;
}
.img {
	width: 10.75%;
	height: 150px;
}
.img img {
	width: 100%;
	height: 100%;
}
.foot {
	width: 100%;
	text-align: center;
}
