/*Media Query*/
@media screen and (max-width: 599px) {
    .col-xs-6 {
	width: 49% !important;
    }
}
@media screen and (min-width: 600px) {
    .container {
        width: 570px !important;
    }
    .slide h4 {
	font-size: 13px;
    }
    .col-sm-1 {
        width: 11.7% !important;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 750px !important;
    }
    .slide h4 {
	font-size: 16px;
    }
}
@media screen and (min-width: 992px) {
    .container {
        width: 970px !important;
    }
    .slide h4 {
	font-size: 18px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        width: 1170px !important;
    }
    .slide h4 {
	font-size: 20px;
    }
}


/*Slides*/
.col-sm-1 {
    width: 8.333333333333332% !important;
}
.col-sm-2 {
        width: 16.666666666666664% !important;
}
.col-sm-3 {
        width: 25% !important;
}
.col-sm-4 {
        width: 33.33333333333333% !important;
}
/*Columnas*/
html body div.col {
    padding: 0 10px 0 0px !important;
}
/*Titulo del slide*/
.slide h4 {
    position:absolute;
    left: 0;
}