/*Media Query*/
@media screen and (min-width: 768px) {
    .col-sm-1 {
	width: 8.8% !important;
    }
}

/*Cuerpo de la pagina.*/
html {
    height: 100%;
    width: 100%;
    display: table;
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color: #242424 !important;
    vertical-align: middle;
    display: table-cell;
}
/*Titulo*/
.title {
    margin-bottom: 100px;
    text-align: justify;
}
.title h1 {
    color: white;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    float: left;
}
/*Tab*/
.tabs div a{    
    border-bottom: 3px solid #7dfbf7;
    margin-right: 8px;
}
.tabs a {
    color: white;
    text-decoration: none;
    display: block;
    font-size: 24px;
    text-align: center;
}
.tabs a:hover {
    text-decoration: none;
    color: white;
    background-color: #1D1D1D;
    border-bottom-color: #1D1D1D;
    border-radius: 25px;
}
.tabs .selected {
    border-bottom-color: white;
}
/*Iconos dentro del slide.*/
.fa {
    color: white;
    vertical-align: middle;
}
.fa * {
    width: 100px;
    height: 100px;
}
.fa-pencil {
    margin-top: 60px;
    margin-left: 10px;
    color: #FFCC00;
}
/*Contenedor de la edicion de titulo*/
.edit {
    margin-top: 40px;
    margin-left: 20px;
    display: none;
    float: left;
}
/*Texto dentro del slide.*/
.slide h4 {
    color: #000000;
    position: absolute;
    bottom: 0;
    margin-left: 7px;
}
/*foot*/
.cr {
    color: #bdc1cd;
    margin-right: 110px;
    float: right;
    margin-top: 45px;
}
/*Iconos*/
.slide:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
/*Columnas*/
html body div.col {
    padding: 0 10px 0 0px;
    margin-top: 10px;
}
/*Slides.*/
.slide {
    text-align: center;
}

/*
***Columnas***
*/
/*Slide home.*/
.home {
    height: 150px;
    background-color: #519aed;
}
/*Slide about.*/
.about {
    height: 150px;
    background-color: #f9be3e;
}
/*Slide portfolio.*/
.portfolio {
    height: 150px;
    background-color: #fc684b;
}
/*Slide photos.*/
.photos {
    height: 150px;
    background-color: #59b0e2;
}
/*Slide testimonials.*/
.testimonials {
    height: 150px;
    background-color: #32af95;
}
/*Slide wanahireme.*/
.wannahireme {
    height: 150px;
    background-color: #86a73f;
}
/*Slide blog.*/
.blog {
    height: 150px;
    background-color: #ffffff;
}
.blog-slide {
    height: 150px;
    background-color: #161a26;
}
/*Slide contact.*/
.contact {
    height: 150px;
    background-color: #b683c9;
}
/*Slide fb.*/
.fb {    
    height: 75px;
    background-color: #014881;
}
/*Slide twitter.*/
.twitter {    
    height: 75px;
    background-color: #00abe3;
}
/*Slide google.*/
.google {
    height: 75px;
    background-color: #f14724;
}