/*Border box*/
* { 
    box-sizing: border-box; 
    *behavior: url("boxsizing.htc");
}
/*Table and Slide*/
.slide .fa {
    left: 0;
    right: 0;
    position: absolute;
    top: 50%;
    margin-top: expression(-this.offsetHeight/2);
}

/*Iconos (font)*/
.fa-home {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\f015');
}
.fa-user  {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\f007');
}
.fa-briefcase {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\f0b1');
}
.fa-picture-o {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\f03e');
}
.fa-comment-o {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\f0e5');
}
.fa-archive {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\f187');
}
.fa-envelope-o {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\f003');
}
.fa-facebook {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\f09a');
}
.fa-twitter {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\f099');
}
.fa-google-plus {
	*zoom: expression(this.runtimeStyle['zoom'] = '1', this.innerHTML = '\f0d5');
}